* {
	margin: 0;
	padding: 0;
	/*Способ рассчёта размера элементов*/
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body, header {
	height: 100%;
}

html{
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
	font-family: 'Inconsolata', monospace;
}

.logo{
	font-size: 2.1rem;
	/*Толщины фрифта*/
	font-weight: bold;
	width: 300px;
	color: #DC143C;
}

.nav-container{
	position: fixed;
	display: flex;
	justify-content: space-between;
	height: 150px;
	width: 100%;
	padding: 0 4%;
	background-color: #FFFF00;
	align-items: center;
	-ms-align-items: center;
	z-index: 1000; 
}

.topnav {
	width: 75%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	-ms-align-items: center;
}

.nav-link {
	color: black;
	font-size: 1.1rem;
	padding: 10px 15px;
	/*Расстояние между буквами*/
	letter-spacing: 0.2px;
	text-decoration: none;
	color: #DC143C;
}

.search-container {
	width: 15%;
	margin-left: 5px;
}

#search {
	background-color: white;
	background-image: url(../img/magnifying-glass.png);
	background-position: 0 center;
	background-size:20px 20px;
	background-repeat: no-repeat;
	padding-left:20px;
	font-size: 90%;
	border: none;
	outline: none;
}

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
	background-repeat: no-repeat;
	height: calc(100%-100px);
	background-size:cover;
	-webkit-background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	-ms-align-items: center;
	position: relative;
}

.box {
	/*Выдвинуть ближе к экрану(пользователю)*/
	z-index: 10;
	text-align: center;
	color: red;

}

.box>h1 {
	font-size: 4rem;
	letter-spacing: 1px;
}

.box>p {
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	padding: 2rem 0;
}

.header-btn {
	width: 200px;
	height: 70px;
	font-size: 1.2rem;
	margin-top: 20px;
	border-radius: 10px;
	outline: none;
	letter-spacing: 0.3px;
	text-transform: bold;
	color:red;
}
.down-arrow {
	position: absolute;
	bottom: 10px;
}

.down-arrow>img {
	width: 24px;
	color: yellow;
}

.first{
	text-align: center;
	padding: 70px 0;
}

h2 {
	font-size: 3rem;
	letter-spacing: 0.5px;
	margin-bottom: 1rem;
	font-weight: bold;
}
text {
	font-size: 1.2rem;
	letter-spacing: 0.3px;
	max-width: 700px;
	margin: auto;
	font-weight: 300;
}
h3{
	font-size: 1.8rem;
	margin: 1.5rem 0;
	letter-spacing: 0.2px;
}
.first-box{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;

}
.first-item{
	width: 30%;
}
.icon {
	display: block;
	margin: auto;
	width: 80px;
}
.second {
	background-color: #FAFAD2;
}
.second-box {
	max-width: 1000px;
	flex-wrap: wrap;
}

.secon-item {
	width: 30%;
	background-color: white;
	margin: 1%;
	padding: 6% 2%;
}